<!DOCTYPE html>

<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>
	<title>PHONG KHAM TU NHAN</title>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			background:  rgb(192, 192, 192);
		}
		a {
			text-decoration: none;
		}
		td{
			padding: 5px;
		}
		body {
			background-image: url(/images/backhospital.jpg);
			background-size: cover;
		}
		td {
			text-align: center;
		}
	</style>
</head>



<body>
<div align=center>
	<h3><a href="/"><img style="mix-blend-mode: multiply;" th:src="@{/images/home.png}" /></a></h3>
	<h1>QUẢN LÝ BỆNH NHÂN</h1>
	<form th:action="@{/GDQL_Benhnhan}">
		<span>
			<input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required placeholder="Nhập tên bệnh nhân"/>
			<input type="submit" value="Tìm Kiếm" />
			<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
		</span>
	</form>
	
	<h3><a href="/them_Benhnhan"><button>Thêm bệnh nhân</button></a></h3>
	
	</br>
	<table style="width: 1000px">
		<thead>
			<tr>
				<td>Mã bệnh nhân</td>
				<td>Tên bệnh nhân</td>
				<td>CMT</td>
				<td>Ngày sinh</td>
				<td>Địa chỉ</td>
				<td>SDT</td>
				<td>Hành động</td>
			</tr>
		</thead>
		
		<tbody>
		<tr th:each="benhnhan : ${listBenhNhan}">
			<td th:text="${benhnhan.mabn}"></td>
			<td th:text="${benhnhan.tenbn}"></td>
			<td th:text="${benhnhan.cmt}"></td>
			<td th:text="${benhnhan.ngaysinh}"></td>
			<td th:text="${benhnhan.diachi}"></td>
			<td th:text="${benhnhan.sdt}"></td>
			<td>
				<h3><a th:href="@{'/sua_Benhnhan/' + ${benhnhan.mabn}}"><button>Sửa bệnh nhân</button></a></h3>
				<h3><a th:href="@{'/xoa_Benhnhan/' + ${benhnhan.mabn}}"><button>Xóa bệnh nhân</button></a></h3>
			</td>
			
		</tr>
		</tbody>
	</table>
	
	

</div>
	<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/GDQL_Benhnhan}]]";
    }
</script>
</body>

</html>