<!DOCTYPE html>

<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>
	<title>PHONG KHAM TU NHAN</title>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			background:  rgb(192, 192, 192);
		}
		a {
			text-decoration: none;
		}
		td{
			padding: 5px;
		}
		body {
			background-image: url(/images/backhospital.jpg);
			background-size: cover;
		}
		td {
			text-align: center;
		}
	</style>
</head>



<body>
<div align=center>
	<h3><a href="/"><img style="mix-blend-mode: multiply;" th:src="@{/images/home.png}" /></a></h3>
	<h1>QUẢN LÝ Y TÁ</h1>
	<form th:action="@{/GDQL_Yta}">
		<span>
			<input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required placeholder="Nhập tên y tá"/>
			<input type="submit" value="Tìm Kiếm" />
			<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
		</span>
	</form>
	
	<h3><a href="/them_Yta"><button>Thêm y tá</button></a></h3>
	
	</br>
	<table>
		<thead>
		<tr>
			<td>Mã y tá</td>
			<td>CMT</td>
			<td>Tên y tá</td>
			<td>Trình độ</td>
			<td>Thâm niên</td>
			<td>Ngày sinh</td>
			<td>Địa chỉ</td>
			<td>Số điện thoại</td>
			<td>Hành động</td>
		</tr>
		</thead>
		<tbody>
		<tr th:each="yta : ${listYTa}">
			<td th:text="${yta.mayt}"></td>
			<td th:text="${yta.cmt}"></td>
			<td th:text="${yta.tenyt}"></td>
			<td th:text="${yta.trinhdo}"></td>
			<td th:text="${yta.thamnien}"></td>
			<td th:text="${yta.ngaysinh}"></td>
			<td th:text="${yta.diachi}"></td>
			<td th:text="${yta.sdt}"></td>
			
			
			<td>
				<h3><a th:href="@{'/sua_Yta/' + ${yta.mayt}}"><button>Sửa y tá</button></a></h3>
				<h3><a th:href="@{'/xoa_Yta/' + ${yta.mayt}}"><button>Xóa y tá</button></a></h3>
			</td>
			
		</tr>
		</tbody>
	</table>
	


</div>
	<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/GDQL_Yta}]]";
    }
</script>
</body>

</html>